# Python venv and caches
venv/
__pycache__/
*.pyc

# Data
data/raw/
data/processed/
data/models/

# collector shell
collector/pull_cowrie_logs.sh
collector/rsync.log

# System / editor files
.DS_Store
.env

